@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 800px;
  margin: auto;
  margin-bottom: 48px;
}

.title {
  display: flex;
  align-items: baseline;
  gap: 7px;
}

.title > span {
  font-style: italic;
}

#buttons {
  display: flex;
  gap: 10px;
}

#buttons > a,
#button {
  text-align: center;
  flex: 1;
  background-color: lightblue;
  padding: 10px 32px;
  border-radius: 8px;
  color: black;
}

.menu {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.menu > div,
.panel {
  flex-basis: 50%;
  padding: 14px 40px 28px 40px;
  border: 1px dotted black;
  border-radius: 8px;
}

.leftnright {
  display: flex;
  gap: 24px;
}

.right {
  width: 100%;
}

#user {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  flex-basis: 100%;
}

#user > h2 {
  margin-right: auto;
}

#signing {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

#signing input {
  padding: 12px;
}

#signing button {
  padding: 12px;
  border: none;
}

#signing button:hover {
  background-color: lightseagreen;
}

#foldersmenu {
  flex-basis: 100%;
}

.alert {
  border: 1px solid black;
  border-radius: 6px;
  padding: 12px;
}

.alert-success {
  background: darkseagreen;
}

.alert-danger {
  background: lightcoral;
}

#folders {
  overflow-y: scroll;
  height: 250px;
  list-style: none;
  padding-inline-start: 0; /* Removes the default left padding */
  margin-block-start: 0; /* Removes the default top margin */
  margin-block-end: 0; /* Removes the default bottom margin */
  margin-left: 0; /* Ensures no left margin is applied */
}

#folders > li {
  padding: 10px;
  margin-bottom: 6px;
  border: 1px solid;
}

form {
  display: flex;
  gap: 4px;
}

table {
  overflow-y: scroll;
  width: 100%;
  border-spacing: 0;
}

thead > tr > th {
  border-bottom: 1px solid;
}

tbody > tr > td {
  border: 1px solid;
  border-top: 0;
}
